.print-only {
    display: none;
}

.no-select {
    user-select: none;
    cursor: default;
}

.center-text {
    text-align: center;
}

#css-warning {
    display: none;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100%;
}

nav {
    background-color: black;
    padding: 20px;
}

footer {
    height: 100px;
    background-color: black;
    color: white;
}

footer #footer-container {
    z-index: 10;
    margin: 0 auto;
    width: 1040px;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    overflow: hidden;
}

footer div#footer-container div {
    bottom: 50%;
    transform: translateY(40%);
}
footer div#footer-container div#back-to-top {
    margin: 0 auto;
    transform: translateY(10%);
}

footer div#footer-container div#back-to-top path {
    fill: white;
}

footer div#footer-container .menu {
    display: flex;
    justify-content: right;
    gap: 15px;
    user-select: none;
    -webkit-user-select: none;
    z-index: 15;
}

nav #navContainer {
    z-index: 10;
    margin: 0 auto; /* centers the div */
    width: 1040px;
    display: grid;
    grid-template-columns: 64px auto 150px;
    overflow: hidden;
}

nav #socialsContainer {
    z-index: 9;
    float: right;
    color: white;
    list-style: none;
}

nav #navContainer .logo {
    grid-column: 1;
}

nav #navContainer .menu {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    user-select: none;
    -webkit-user-select: none;
    z-index: 15;
}

.menu a {
    color: white;
    position: relative;
    text-decoration: none;
}
.menu a:visited {
    text-decoration: none;
}

.menu a::before{
    content: '';
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #0074D9;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .menu a:hover::before{
        left: 0;
        right: auto;
        width: 100%;
    }
}

.menu .selected {
    color: gray;
}

nav .socials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.socials-container a path {
    fill: white;
    transition: 0.3s;
}

.socials-container a:hover path {
    fill: gray;
}

header#hero-header {
    height: 450px;
    -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    background-image: url("../images/homeFeatured.jpg");
    background-position: 0 25%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header div.header-content {
    text-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    width: 100%;
    margin: 0 auto;
    transform: translate(0%, -50%);
    color: white;
}

div.header-content .small-heading {
    font-size: 1.5em;
}

div.header-content .large-heading {
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    font-size: 5em;
}

@media only screen and (max-width: 750px){
    /* CSS that should be displayed if width is equal to or less than 991px goes here */
    div.header-content .large-heading {
        width: min-content;
        text-align: left;
        font-size: 3em;
    }

    div.header-content .small-heading {
        font-size: 0.9em;
    }
}

main {
    width: 1040px;
    overflow: hidden;
    margin: 50px auto;
}