.print-only {
    display: none;
}

.no-select {
    user-select: none;
    cursor: default;
}

#css-warning {
    display: none;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100%;
}

header {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    height: 500px;
}

header .small-heading {
    margin-bottom: 15px;
}

header p {
    font-size: 14px;
}

nav {
    overflow-x: hidden;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav .logo {
}

nav .menu {
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
    user-select: none;
    z-index: 15;
}


.menu a {
    margin: 0 0 0 15px;
}
.menu a:link { text-decoration: none; }
.menu a:visited { text-decoration: none; }
.menu a:hover { text-decoration: none; }
.menu a:active { text-decoration: none; }

nav a:hover {

}

main {
    margin: 0 auto;
    max-width: 1000px;
    display: block;
    counter-reset: section 0;
}

.left {
    position: fixed;
    z-index: 5;
    bottom: 15px;
    left: 40px;
    right: auto;
}

.left li {
    list-style-type: none;
}

.right {
    position: fixed;
    z-index: 5;
    bottom: 15px;
    left: auto;
    right: -40px;
    transform-origin: 0 0;
    transform: rotate(-90deg);
}

section p {
    text-align: justify;
}

section {
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 25px;
    margin-bottom: 25px;
}
section:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

section .sectionContent {
    padding: 15px 25px;
}

h1 {
    font-weight: 6;
    font-family: 'Roboto', sans-serif;
    font-size: 96px;
    letter-spacing: -1.5px;
    margin: 0;
}
h2 {
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    letter-spacing: -0.5px;
    margin: 0;
}
h3 {
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    letter-spacing: 0;
    margin: 0;
}

footer {
    margin: 25px;
    text-align: center;
}