.print-only {
    display: none;
}

.no-select {
    user-select: none;
    cursor: default;
}

#css-warning {
    display: none;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100%;
}

nav {
    background-color: black;
    padding: 20px;
}

#navContainer {
    z-index: 10;
    margin: 0 auto; /* centers the div */
    width: 1040px;
    display: grid;
    grid-template-columns: 64px auto 150px;
    overflow: hidden;
}

#socialsContainer {
    z-index: 9;
    float: right;
    color: white;
    list-style: none;
}

nav .logo {
    grid-column: 1;
}

nav .menu {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    user-select: none;
    -webkit-user-select: none;
    z-index: 15;
}

.menu a {
    color: white;
    position: relative;
    text-decoration: none;
}
.menu a:visited {
    text-decoration: none;
}

.menu a::before{
    content: '';
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #0074D9;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .menu a:hover::before{
        left: 0;
        right: auto;
        width: 100%;
    }
}

.menu .selected {
    color: gray;
}

nav .socials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.socials-container a path {
    fill: white;
    transition: 0.3s;
}

.socials-container a:hover path {
    fill: gray;
}

.vertical-center {
    vertical-align: middle;
}

.large-header {
    height: 350px;
    line-height: 350px;
    background-image: url("../images/homeFeatured.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;
    color: white;
}
