* {
    box-sizing: border-box;
}

#portfolio-grid {
    display: flex;
    flex-wrap: wrap;
}

div#portfolio-grid .column {
    flex: 50%;
    max-width: 50%;
}

div#portfolio-grid .column .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
    margin: 10px;
}
div#portfolio-grid .column .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .card-content {
    display: inline-grid;
    width: 100%;
    grid-template-columns: 1fr auto;
}

.card .card-content img {
    text-align: right;
}

.card .card-content p {
    text-align: left!important;
}

.card .card-title {
    margin-bottom: 15px;
    font-weight: bold;
}

.card img {
    height: 64px;
}

@media screen and (max-width: 1020px) {
    #portfolio-grid {
        display: block;
        padding: 0 4px;
    }

    #portfolio-grid .column {
        all: unset;
    }
}

@media screen and (max-width: 642px) {
    div#portfolio-grid .column .card {
        margin-right: 0;
        margin-left: 0;
    }

    .card .card-content img {
        display: none;
    }
}

h1 {
    font-size: 1.2em;
    font-weight: normal;
}

h2 {
    font-size: 1em;
}

.timeline-container {
    width: 80%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
 }

 .timeline-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
 }

 .timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
 }

 .timeline-block-right {
    float: right;
 }

 .timeline-block-left {
    float: left;
    direction: rtl;
 }

 .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #4FC1E9;
    margin-top: 10px;
    z-index: 9999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
 }

 .timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #666;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
 }

 .timeline-content span {
    font-size: 15px;
    color: #a4a4a4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    direction: ltr;
 }

 .timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
 }

 @media screen and (max-width: 768px) {
    .timeline-container:before {
       left: 8px;
       width: 2px;
    }

    .timeline-block {
       width: 100%;
       margin-bottom: 30px;
    }

    .timeline-block-right {
       float: none;
    }

    .timeline-block-left {
       float: none;
       direction: ltr;
    }
 }

